@use 'sass:map';

$dark: (
  color: (
    bg: #0a0a0a,
    fg: #e6e8ff,
    brand: #8b90ff
  )
);

/* dark() reads from the dark map */
@function dark($group, $key) {
  @return map.get(map.get($dark, $group), $key);
}
